<section id="content">
  <header>
    <h1>Weasel</h1>
    <div class="items-right">
      <div class="item">
        <div class="ui dropdown">
          <div class="text"><%= current_user.full_name %></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <span class="description">ctrl + o</span>
              Apparaître hors-ligne
            </div>
            <div class="item">
              <span class="description">ctrl + p</span>
              Pause clope
            </div>
            <div class="divider"></div>
            <div class="item">Mon compte</div>
            <div class="item">
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="content-inner">
    <section class="sidebar-left">
      <div class="sidebar-content">
        <div id="subscribed-rooms" class="tab" style="display:block;">
          <div class="tab-title">
            Conversation groupées
          </div>
          <div class="search-container">
            <div class="ui transparent input left icon inverted">
              <input type="text" id="search" placeholder="Rechercher une room...">
              <i class="search icon"></i>        
            </div>
          </div>
          <div class="items">
            <% @chat_rooms.each_with_index do |chat_room, index| %>
              <div class="item <%= 'selected' if index == 0 %>" data-room-id="<%= chat_room.id %>">
                <div class="avatar">
                  <div class="avatar-letter"><%= chat_room.title[0] %></div>
                </div>
                <div class="label">
                  <p><%= chat_room.title %></p>
                  <small><%= chat_room.description %></small>
                </div>
              </div>    
            <% end %>
          </div>        
        </div>
        <div id="users" class="tab">
          <div class="tab-title">
            Salariés
          </div>
          <div class="search-container">
            <div class="ui transparent input left icon inverted">
              <input type="text" id="search" placeholder="Rechercher un collègue...">
              <i class="search icon"></i>        
            </div>            
          </div>
          <div class="items">
            <% @users.each do |u| %>
              <div class="item">
                <a href="#">
                  <div class="avatar">
                    <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
                  </div>
                  <div class="label">
                    <p><%= u.full_name %></p>
                  </div>
                </a>
              </div>    
            <% end %>
          </div>
        </div>
        <div id="user-messages" class="tab">
          <div class="tab-title">
            Conversations
          </div>
          <div class="search-container">
            <div class="ui transparent input left icon inverted">
              <input type="text" id="search" placeholder="Rechercher une discussion...">
              <i class="search icon"></i>        
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-navigation">
        <ul>
          <li class="selected" data-tab="subscribed-rooms">
            <i class="th list icon"></i>
          </li>
          <li data-tab="users">
            <i class="users icon"></i>
          </li>
          <li data-tab="user-messages">
            <i class="comments icon"></i>
          </li>
        </ul>
      </div>
    </section>
    <section class="chat-room-container">
      <% @chat_rooms.each do |room| %>
        <%= render partial: "chat/partials/room", locals: {room: room, displayed: (room.id == 1)} %>
      <% end %>
    </section>    
  </section>
</section>
<!--
<div class="hangout-container">
  <%= render partial: "chat/partials/hangout", locals: {
    recipient: User.first,
    opened: false,
    highlighted: true
  } %>
  <%= render partial: "chat/partials/hangout", locals: {
    recipient: User.last,
    opened: true,
    highlighted: false
  } %>
</div>
-->